<div class="screen dictionary">
  <div class="header">
    <%= link_to '', :root, class: 'back-button' %>
    <div class="title">
      <%= image_tag 'dictionary.svg', class: 'icon' %>
      가르친 대화 목록
    </div>
  </div>
  <div class="list">
    <% @dictionaries.each do |dictionary| %>
    <div class="message">
      <div class="contents">
        <div class="ask">
          <%= image_tag 'learn.svg', class: 'icon' %>
          <div class="title"><%= dictionary.ask %></div>
        </div>
        <div class="answer"><%= dictionary.answer %></div>
        <div class="footer">
          <div class="time"><%= dictionary.time_format %></div>
          <div class="buttons">
            <a href="#" class="button">수정</a>
            <a href="#" class="button">삭제</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
